<script src="template-1.1.min.js"></script>

<script type="text/template" id="test-template">
<h3><%= o.title %></h3>
<ol>
<% for (var i = 0; i < o.features.length; i++) {
     var item = o.features[i]; %>
<li><%= item.name %> <% if (item.desc) { out += '<i>' + item.desc + '</i>'; } %></li>
<% } %>
</ol>
<p><b><%= o.author %></b></p>
</script>


<div id="output"></div>

<script>
var source = document.getElementById('test-template').innerText;
var tmpl = new Template(source);
var data = {
    title: 'templateJS: lightweight JavaScript Template Engine',
    features: [
      { name: 'Build with pure JavaScript' },
      { name: 'Lightweight and Fast', desc: 'less than 500 bytes' },
      { name: 'Simple and Ease of use' }
    ],
    author: 'zhsoft88@icloud.com'
};
var result = tmpl.render(data);
document.getElementById('output').innerHTML = result;
</script>